#functionspnFNCbase {
    height: 100%;
    width: 100%;
    display: none;
    overflow-y: auto;
    background-color: #bdbfbe;
}
#functionscnpnbase {
    display: none;
    height: 100%;
    width: 100%;
}
#SuperSubScriptGrid {
    display: grid;
    width: 100%;
    height: 10vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}
    #SuperSubScriptName {
        grid-column: 1/-1;
    }

