#contentback {
    background-color: lightgray;
    position: absolute;
    height: 85vh;
    width: 60vw;
    top: 15%;
    left: 20%;
    /* padding-top: 2.5%; */
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#main {
    margin: 0;
    padding: 0;
    background-color: yellow;
}
    #cnRpn {
        height:15vh;
        width: 20vw;
        top: 0;
        right: 0;
        padding: 0;
        position: absolute;
    }
    #cnLpn {
        height:15vh;
        width: 20vw;
        top: 0;
        left: 0;
        position: absolute;
    }
    #Rpn {
        height: 85vh;
        width: 20vw;
        right: 0;
        bottom: 0;
        padding: 0;
        position: absolute;
    }
    #Lpn {
        height: 85vh;
        width: 20vw;
        left: 0;
        bottom: 0;
        padding: 0;
        position: absolute;
    }
    .cnRLpnGrid {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
        place-items: center;
    }
        .btn {
            width: 95%;
            height: 95%;
            background-color: #969595;
            margin: 0;
            border: 4px solid #6e6a6a;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-content: center;
            overflow: hidden;
        }
        .btn:active {
            transform: scale(0.95);
            background-color: #575555;
            display: flex;
            justify-content: center;
            align-content: center;
        }
            .btn-content {
                width: 100%;
                height: 100%;
                font-size: 3.5vmin;
                pointer-events: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        .contentbase {
            display: block;
            width: 90%;
            /* aspect-ratio: 297/210; */
            height: 100000px;
            background: none;
            overflow-y: auto;
        }
        #textcontent {
            width: 100%;
            height: 100%;
            background-color: white;
            /* overflow: auto; */
        }