#textback {
    background-color: lightgray;
    height: 85vh;
    width: 60vw;
    margin-top: 15vh;
    margin-left: 20vw;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
}
#main {
    margin: 0;
    padding: 0;
}
#cnRpn {
    height:15vh;
    width: 20vw;
    top: 0;
    right: 0;
    padding: 0;
    position: absolute;
}
#cnLpn {
    height:15vh;
    width: 20vw;
    top: 0;
    left: 0;
    position: absolute;
}
#Rpn {
    height: 85vh;
    width: 20vw;
    right: 0;
    bottom: 0;
    padding: 0;
    position: absolute;
}
#Lpn {
    height: 85vh;
    width: 20vw;
    left: 0;
    bottom: 0;
    padding: 0;
    position: absolute;
}
.cnRLpnGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    place-items: center;
}
.btnRLcnpn {
    width: 95%;
    height: 95%;
    background-color: #969595;
    margin: 0;
    border: 4px solid #6e6a6a;
    border-radius: 0;
}
.btnRLcnpn:active {
    transform: scale(0.95);
    background-color: #575555;
}